/* andreas07 - an open source xhtml/css website layout by Andreas Viklund - http://andreasviklund.com . Free to use for any purpose as long as the proper credits are given for the original design work.

Version: 1.1, November 28, 2005 */

/**************** Page and tag styles ****************/

body
/*{margin:0; padding:0; color:#303030; background:#4d4d4d url(bodybg.gif) top left repeat-y; font:76% Verdana,Tahoma,sans-serif;}*/
/*{margin:0; padding:0; color:#303030; background:black; font:76% Verdana,Tahoma,sans-serif;}*/
{margin:0; padding:0; color:#303030; background:black; font-family:Arial,Verdana,Tahoma,sans-serif;}

ul
{list-style:circle; margin:15px 0 20px 0; font-size:0.9em;}

li
{margin:0 0 8px 25px;}

a
{color:#d85d5d; font-weight:bold; text-decoration:none;}

a:hover
{color:#505050; text-decoration:underline;}

img
/*{float:left; margin:5px 15px 15px 5px; padding:1px; background:#ffffff; border:1px solid #d0d0d0;}*/
{float:left; margin:5px 15px 0px 5px; padding:0px; background:#ffffff;border:5px solid #41C363;}

a img
{border-color:#d85d5d;}

a img:hover
{background:#d85d5d; border-color:#d85d5d;}

.user_fontstyle1
{color:white; font-weight:bold;}

.user_debug1{
color:white; 
font-weight:bold; 
text-align:left;
position: fixed;
bottom: 0;
left: 0;
width: 100;
border: 3px solid #73AD21;
}

.user_debug1_invisible{
color:#41C363; 
font-weight:bold; 
text-align:left;
position: fixed;
bottom: 0;
left: 0;
width: 100;
}

.user_debug2{
color:white; 
font-weight:bold; 
text-align:left;
position: relative;
bottom: 0;
left: 0;
width: auto;
}

.user_debug2_invisible{
color:#41C363; 
font-weight:bold; 
text-align:left;
position: relative;
bottom: 0;
left: 0;
width: auto;
}

.invisible{
color:#41C363;
}

/**************** Sidebar area styles ****************/

#sidebar
{position:absolute; top:0; left:0; width:250px; height:100%; overflow:auto; background:#41C363; url(sidebarbg.gif) top right repeat-y; text-align:right;border-top-right-radius: 2em;}

body > #sidebar
{position:fixed;}

#sidebar h1
{margin:20px 18px 0 5px; color:#d85d5d; font-size:1.6em; letter-spacing:-2px; text-align:right;}

#sidebar h2, #sidebar h3
{margin:0 20px 18px 5px; color:#808080; font-size:2.0em; font-weight:bold; letter-spacing:-1px; text-align:right;}

#sidebar h3
{margin:20px 18px 4px 5px; color:#4d4d4d;text-align:center;}

#sidebar  p
{margin:0 20px 18px 5px; color:#4d4d4d; font-size:2.0em;text-align:center;}

#sidebar a
{color:#808080}

/**************** Navigation menu styles ****************/

#menu a
{display:block; width:202px; padding:5px 18px 5px 0; color:#606060; background:#e0e0e0 url(sidebarbg.gif) top right repeat-y; font-size:1.8em; font-weight:normal; text-decoration:none; letter-spacing:-2px;}

#menu a:hover 
{color:#303030; background:#f0f0f0 url(sidebarbg.gif) top right repeat-y;}

#menu a.active
{padding:5px 18px 5px 0; background:#fafafa; border-top:2px solid #c0c0c0; border-bottom:2px solid #c0c0c0;}

#menu a.active:hover
{color:#505050; background:#fafafa;}

/**************** Content area styles ****************/

#content
/*{width:auto; height:auto; margin:0 0 0 250px; padding:20px 0; background:#4d4d4d;}*/
{width:auto; height:auto; margin:0 0 0 250px; padding:0px 0; background:black;}

#content p
{margin:0 0 20px 0; line-height:1.5em;}

#content h1
{margin:0; color:#d85d5d; font-size:4em; letter-spacing:-5px; text-align:center;}

#content h2
/*{margin:0; color:#ffd100; font-weight:normal; font-size:2.5em; letter-spacing:-2px; text-align:center;}*/
{margin:0; color:#41C363; font-weight:normal; font-size:2.0em; letter-spacing:-2px; text-align:center;}

#content h3
{clear:both; margin:30px 0 10px 0; color:#d85d5d; font-weight:normal; font-size: 2em; letter-spacing:-2px;}

#webcam
{margin-left:auto; margin-right:auto; width:1280px; height:720px;}

#streamimage {
width:1280px; height: 720px;
}

#xform {
	text-align:right;
	margin:0 !important;
}
#streamwrap {
	height:350px
}
#streamwrap.rotated {
	height:450px
}
p.xform-p {
	height:5px;
	margin-bottom:0 !important;
}
p.xform-p.rotated {
	height:50px;
	margin-bottom:20px !important;
}

/*
	CSS3 transformations: rotate, flip, mirror
*/

img.x-rotated-0 {}
img.x-rotated-90 {
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}
img.x-rotated-180 {
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}
img.x-rotated-270 {
	-moz-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
}
img.x-mirrored-rotated-0 {
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
}
img.x-mirrored-rotated-90 {
	-moz-transform: rotate(90deg) scaleX(-1);
	-webkit-transform: rotate(90deg) scaleX(-1);
}
img.x-mirrored-rotated-180 {
	-moz-transform: rotate(180deg) scaleX(-1);
	-webkit-transform: rotate(180deg) scaleX(-1);
}
img.x-mirrored-rotated-270 {
	-moz-transform: rotate(270deg) scaleX(-1);
	-webkit-transform: rotate(270deg) scaleX(-1);
}
img.x-flipped-rotated-0 {
	-moz-transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
}
img.x-flipped-rotated-90 {
	-moz-transform: rotate(90deg) scaleY(-1);
	-webkit-transform: rotate(90deg) scaleY(-1);
}
img.x-flipped-rotated-180 {
	-moz-transform: rotate(180deg) scaleY(-1);
	-webkit-transform: rotate(180deg) scaleY(-1);
}
img.x-flipped-rotated-270 {
	-moz-transform: rotate(270deg) scaleY(-1);
	-webkit-transform: rotate(270deg) scaleY(-1);
}
img.x-flipped-mirrored-rotated-0 {
	-moz-transform: scale(-1,-1);
	-webkit-transform: scale(-1,-1);
}
img.x-flipped-mirrored-rotated-90 {
	-moz-transform: rotate(90deg) scale(-1,-1);
	-webkit-transform: rotate(90deg) scale(-1,-1);
}
img.x-flipped-mirrored-rotated-180 {
	-moz-transform: rotate(180deg) scale(-1,-1);
	-webkit-transform: rotate(180deg) scale(-1,-1);
}
img.x-flipped-mirrored-rotated-270 {
	-moz-transform: rotate(270deg) scale(-1,-1);
	-webkit-transform: rotate(270deg) scale(-1,-1);
}
.btnface {
	height:30px;
	width:30px;
}
#rotate .btnface {
	background:url("rotateicons.png") no-repeat scroll 7px 50% transparent;
}
#flip .btnface {
	background:url("rotateicons.png") no-repeat scroll -65px 50% transparent;
}
#mirror .btnface {
	background:url("rotateicons.png") no-repeat scroll -30px 50% transparent;
}

/* averages */

#fN {
	position: relative;
	top: 5px;
}
